.FullPage{
    width           : 90%;
    height          : 100%;
    display         : flex;
    justify-content : center;  
    align-items     : center;
}

.UserInfo{
    width           : 90%;
    height          : 90%;
    background      : #FFFFFF;
    border-top      : 2px solid #0072E3;
    overflow-y      : auto;
}

.UserTable{
    width           : 100%;
    height          : 100%;
    background      : #FFFFFF;
}
table{
    border-collapse : collapse;
    border-spacing  : 0;
}

td{
    border              : 1px solid #ddd;
    background-color    : #FFFFFF;
    height              : 35px;
}

.iconBtn{
    width               : 30px;
    height              : 30px;
    background          : #E0E0E0;
    margin              : 2px;
    border              : 1px solid transparent;
    border-radius       : 2px;
    box-shadow          : 1px 1px 2px #000;
    margin              : 0px 5px 0px 5px;

}
