.FullPage{
    width           : 90%;
    height          : 100%;
    display         : flex;
    justify-content : center;  
    align-items     : center;
}

.UserInfo{
    width           : 90%;
    height          : 90%;
    background      : #FFFFFF;
    border-top      : 2px solid #0072E3;
    overflow-y      : auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.UserTable{
    width           : 50%;
    height          : auto;
    background      : #FFFFFF;
}
table{
    border-collapse : collapse;
    border-spacing  : 0;
}

td{
    border              : 1px solid #ddd;
    background-color    : #FFFFFF;
    height              : 35px;
}

form {
    width: 100%;
}

.Input {
    width: 90%;
    border: none;
    border-bottom: 1px solid #ADADAD;
    background-color: #FFFFFF;
    padding: 5px 10px;
    outline: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
}

.Input:focus {
    border-bottom:  1px solid #0072E3
}

.BtnCon{
    display: flex;
    margin: 10px;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.commitBtn{
    display: flex;
    margin: 10px;
    width: 20%;
    height: 30px;
    justify-content: center;
    align-items: center;
    background:#E0E0E0;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #e0e0e0;
}

.cancelBtn{
    display: flex;
    margin: 10px;
    width: 20%;
    height: 30px;
    justify-content: center;
    align-items: center;
    background:#E0E0E0;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #e0e0e0;
}

.checkIcon{
    background: url('../image/user_check.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.cancelIcon{
    background: url('../image/user_cancel.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

select{
    width: 20%;
    height: 25px;
    border: 1px solid #B0B0B0;
    border-radius: 3px;
}

.WarningText{
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color:#FF0000;
    margin-top: 10px;
}
