.FullPage{
    width           : 100%;
    height          : 100%;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.TitleBar{
    position        : fixed;
    left            : 0px;
    top             : 0px;
    background-color: #0072E3;
    width           : 100%;
    height          : 80px;
    box-shadow      : rgb(0 0 0 / 30%) 0 2px 6px;
    display         : flex;
    justify-content : center;  
    align-items     : center;
}

.TitleText{
    width           : 40%;
    font-size       : 30px;
    font-family     : Arial, Helvetica, sans-serif;
    text-shadow     : 2px 2px black;
    color           : #FFF;
    display         : flex;
    align-items     : center;
    justify-content : flex-start;
}

.TitleIcon{
    height          : 50px;
}

.TimeText{
    position        : absolute;
    right           : 2%;
    font-size       : 30px;
    font-family     : Arial, Helvetica, sans-serif;
    text-shadow     : 2px 2px black;
    color           : #FFF;
    display         : flex;
    align-items     : center;
    justify-content : flex-start;

}

.LoginCon{
    width           : 25%;
    height          : 100%;
    display         : flex;
    align-items     : center;
}

.TextCon{
    width           : 80%;
}

.UserCon{
    width           : 100%;
    display         : flex;
    align-items     : center;
    justify-content : center;
    margin          : 20px 0px 20px 0px;
}

.PasswordCon{
    width           : 100%;
    display         : flex;
    align-items     : center;
    justify-content : center;
    margin          : 20px 0px 20px 0px;
}

.UserIcon{
    height          : 35px;
    
}

.LoginIcon{
    width           : 20%;

}

.Input {
    border          :none;
    border-bottom   : 1px solid #000;
    background-color: #D0D0D0;
    padding         : 5px 10px;
    outline         : none;
    font-size: 16px;
    font-family     : Arial, Helvetica, sans-serif;
 }
 

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }