.FullPage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TitleBar {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #0072E3;
    width: 100%;
    height: 80px;
    box-shadow: rgb(0 0 0 / 30%) 0 2px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TitleText {
    width: 40%;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.TitleIcon {
    height: 50px;
}

.TimeText {
    position: absolute;
    right: 2%;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.LoginCon {
    position: relative;
    width: 25%;
    height: 25%;
    display: flex;
    align-items: center;
    background: #F0F0F0;
    border-radius: 10px;
    border: 2px solid #BEBEBE;
    box-shadow: 6px 6px 6px #BEBEBE;
}

.TextCon {
    width: 75%;
}

.UserCon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.PasswordCon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.UserIcon {
    max-width: 50px;
    width: 20%;
    height: 20%;
}

.Icon {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginIcon {
    max-width: 80px;
    max-height: 80px;
    width: 5vw;
    height: 5vw;
}

.Input {
    width: 90%;
    border: none;
    border-bottom: 1px solid #000;
    background-color: #F0F0F0;
    padding: 5px 10px;
    outline: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
}

.signUpCon{
    position: absolute;
    right: 5%;
    width: 20%;
    height: 10%;
    bottom: 5px;
    display: flex;
    justify-content: flex-end;
}

.SignUpICon{
    background:url('../image/add-user.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
}

.warningBG {
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.warningCon {
    position: relative;
    width: 500px;
    height: 200px;
    background: #FFF8D7;
    border: 2px solid #FF5151;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.warningCancel {
    position: absolute;
    width: 25px;
    height: 25px;
    background: url(../image/cancel.png);
    background-size: cover;
    right: 10px;
    top: 10px;
}

.warningText {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #FF5151;
    display: flex;
    align-items: center;
    justify-content: center;
}

.warningIcon {
    width: 25px;
    height: 25px;
    background: url(../image/exclamation-mark.png);
    background-size: cover;
    right: 10px;
    top: 10px;
}