.FullPage{
    width           : 90%;
    height          : 100%;
    display         : flex;
    justify-content : center;  
    align-items     : center;
}

.UserInfo{
    width           : 90%;
    height          : 90%;
    background      : #FFFFFF;
    border-top      : 2px solid #0072E3;
    overflow-y      : auto;
}

.UserTable{
    width           : 100%;
    height          : auto;
    background      : #FFFFFF;
}
table{
    border-collapse : collapse;
    border-spacing  : 0;
}

td{
    border              : 1px solid #ddd;
    background-color    : #FFFFFF;
    height              : 35px;
}

.DateCol{
    width: 2%;
}

.NameCol{
    width: 10%;
}

.iconBtn{
    width               : 30px;
    height              : 30px;
    background          : #E0E0E0;
    margin              : 2px;
    border              : 1px solid transparent;
    border-radius       : 2px;
    box-shadow          : 1px 1px 2px #000;
    margin              : 0px 5px 0px 5px;

}

.TriangleLeft {
    position: absolute;
    top: 5px;
    left: 50px;
    border-top: 10px solid transparent;
    border-right: 20px solid #0072E3;
    border-bottom: 10px solid transparent;
    cursor: pointer;
}

.TriangleRight {
    position: absolute;
    top: 5px;
    right: 50px;
    border-top: 10px solid transparent;
    border-left: 20px solid #0072E3;
    border-bottom: 10px solid transparent;
    cursor: pointer;
}